{% extends 'base.html' %}

{% block title %}
    Classes
{% endblock title %}




{% block content %}
    <h1>All about Classes</h1>
    <p>Lets learn together</p>

    <ul>
        <li>Classes are defined using class MyClassName:</li>
        <li>Inside the Class attributes or functions are assigned</li>
        <li>__init__() is a type of built in function that can be defined in a Class</li>
        <li>The insides of Classes are either functions, methods, or instances, constrictors</li>
    </ul>
{% endblock content %}