{% extends 'base.html' %}

{% block title %}
    Objects
{% endblock title %}




{% block content %}
    <h1>All about Objects</h1>
    <p>Lets learn together</p>
    <ul>
        <li>An object holds information.</li>
        <li>Information for an object can be created using a class.</li>
        <li>Using a class to create an object ensures that the format and data given to the object is the same.</li>
        <li>To read the data from an object use either the obj.data syntax or the obj["name"] syntax</li>
    </ul>
{% endblock content %}